version: "3.9"

services:
  api:
    container_name: movie-management-system
    image: movie-management-system:latest
    restart: always

    env_file:
      - .env

    ports:
      - "3000:3000"

    environment:
      NODE_ENV: production

    stop_grace_period: 30s

    deploy:
      resources:
        limits:
          memory: 512M
